---

- name: Gather facts from all hosts
  hosts: all
  become: true
  gather_facts: true
  tags: always

- name: Setup clients from host_group filedaemons
  hosts: filedaemons
  become: true
  pre_tasks:
    - name: Fetch facts from director
      ansible.builtin.setup:
      delegate_to: "{{ item }}"
      delegate_facts: true
      run_once: true
      loop: "{{ groups['directors'] }}"
      tags:
        - manage_clients
        - manage_clients::setup
  roles:
    - role: bareos_repository
      tags:
        - manage_clients
        - manage_clients::setup
    - role: bareos_fd
      tags:
        - manage_clients
        - manage_clients::setup


# first the necessary vars from every client in the `filedaemons` group are collected,
# which are required to deploy the clients with the bareos_dir role.
# as the Bareos Director is not supposed to be part of any `filedaemons` group,
# `delegate_to` is used to call the Director with the bareos_dir role, even
# when it's outside of the Ansible -l/--limit scope.
#
# the play uses `run_once` so it's only executed on the first host,
# which then loops over the `filedaemons` group.
- name: Deploy Filedaemons on Director with the bareos_dir role
  hosts: all
  run_once: true
  become: true
  vars:
    _fd_list: []
  pre_tasks:

    # uses `default(omit)` for optional variables
    - name: Create list of Filedaemons to deploy on Director
      ansible.builtin.set_fact:
        _fd_list: >-
          {{ _fd_list + [{
            'name': item,
            'address': client_defaults.address,
            'password': client_defaults.password,
            'maximum_concurrent_jobs': client_defaults.maximum_concurrent_jobs | default(omit),
            'connection_from_director_to_client': client_defaults.connection_from_dir | default(omit),
            'connection_from_client_to_director': client_defaults.connection_from_fd | default(omit),
            'heartbeat': client_defaults.heartbeat | default(omit),
            'enabled': client_defaults.enabled | default(omit) }]
          }}
      loop: "{{ groups['filedaemons'] }}"
      tags:
        - manage_clients
        - manage_clients::deployment
      when:
        - hostvars[item].client_defaults is defined  # recommended to set client_defaults in group_vars/all
        - hostvars[item].client_defaults.address is defined
        - hostvars[item].client_defaults.password is defined
        - item in ansible_play_hosts  # allows limiting to filedaemons in-scope of --limit/-l
        - hostvars[item].bareos_fd_configuration is undefined  # let's you set exceptions on group/host_vars level

    - name: Add Filedaemons to list which have separate host_vars defined
      ansible.builtin.set_fact:
        _fd_list: >-
          {{ _fd_list + [ hostvars[item].bareos_fd_configuration ] }}
      loop: "{{ groups['filedaemons'] }}"
      tags:
        - manage_clients
        - manage_clients::deployment
      when:
        - item in ansible_play_hosts  # allows limiting to filedaemons in-scope of --limit/-l
        - hostvars[item].bareos_fd_configuration is defined  # let's you set exceptions on group/host_vars level
        - hostvars[item].bareos_fd_configuration.name is defined
        - hostvars[item].bareos_fd_configuration.password is defined

    - name: Register client list
      ansible.builtin.set_fact:
        bareos_dir_clients: "{{ _fd_list }}"  # var is used in bareos_dir role
      tags:
        - manage_clients
        - manage_clients::deployment

  tasks:
    - name: Delegate bareos_dir role to Director
      ansible.builtin.import_role:
        name: bareos_dir
      delegate_to: "{{ groups['directors'][0] }}"  # workaround to call the director
      tags:
        - manage_clients
        - manage_clients::deployment
