---
name: Build and deploy Collection on Ansible Galaxy
on:
  release:
    types:
      - published
    tags:
      - 'v*'

jobs:
  deploy:
    uses: adfinis/github-workflows-bareos/.github/workflows/ansible-collection.yaml@v0.8.0
    secrets:
      galaxy_api_key: ${{ secrets.GALAXY_API_KEY }}
